@{
	ViewData["Title"] = "首页";
	var doc = ViewBag.doc as SysdocInfo;
}

<div id='sidebar'>
	@if (doc.Id != 2) {
		await Html.RenderPartialAsync("_Partial右侧_登陆");

		await Html.RenderPartialAsync("_Partial右侧_ads");
	}
</div>

<div id="content">
	<div class="panel">
		<div class="header">
			<ul class="breadcrumb">
				<li><a href="/">主页</a><span class="divider">/</span></li>
				<li class="active">@doc.Title</li>
			</ul>
		</div>
		<div class="inner topic">
			<div class="topic_content">
				<div class="markdown-text">
					@doc.Content
				</div>

				@if (doc.Id == 3) {
					<div class="about-friend-links">
						<h3>友情链接</h3>
						@foreach (FriendlylinksInfo fl in ViewBag.fls) {
							<a href="@fl.Link" target="_blank">
								<img src="@fl.Logo" alt="@fl.Title">
							</a>
						}
					</div>

					<div class="">
						<h3>LOGO</h3>
						<p>
							白底： <a href="/public/images/cnodejs.svg" target="_blank">/public/images/cnodejs.svg</a>
						</p>
						<p>
							黑底： <a href="/public/images/cnodejs_light.svg" target="_blank">/public/images/cnodejs_light.svg</a>
						</p>
					</div>
				}
			</div>
		</div>
	</div>
</div>
