@{
	ViewData["Title"] = "首页";
	var user = ViewBag.user as UsersInfo;
}

<div id='sidebar'>

	@{
		await Html.RenderPartialAsync("_Partial右侧_登陆");

		if (user != null) {
			await Html.RenderPartialAsync("_Partial右侧_发布话题");
		}

		await Html.RenderPartialAsync("_Partial右侧_ads");

		if (user != null) {
			await Html.RenderPartialAsync("_Partial右侧_无人回复的话题");
		}

		await Html.RenderPartialAsync("_Partial右侧_积分榜");
		await Html.RenderPartialAsync("_Partial右侧_友情社区");
	}

</div>

<div id="content">
	<div class="panel">
		<div class="header">
			<a href="/?tab=all" class="topic-tab@(ViewBag.curtag == null ? " current-tab" : "")">全部</a>
			@foreach (TagsInfo tag in ViewBag.tags) {
				<a href="/?tab=@tag.Keyname" class="topic-tab@(ViewBag.curtag != null && ViewBag.curtag.Id == tag.Id ? " current-tab" : "")">@tag.Name</a>
			}
		</div>

		<div class="inner no-padding">
			<div id="topic_list">
				@foreach (TopicsInfo t in ViewBag.topics) {
					<div class='cell'>

						<a class="user_avatar pull-left" href="/user/i5ting">
							<img src="https://avatars.githubusercontent.com/u/3118295?v=3&amp;s=120" title="@t.Obj_owner_users.Username" />
						</a>

						<span class="reply_count pull-left">
							<span class="count_of_replies" title="回复数">@t.Count_posts</span>
							<span class="count_seperator">/</span>
							<span class="count_of_visits" title='点击数'>@t.Count_views</span>
						</span>

						<a class='last_time pull-right' href="/topic/@t.Id#@t.Last_posts_id">
							<img class="user_small_avatar" src="https://avatars.githubusercontent.com/u/14305704?v=3&amp;s=120">
							<span class="last_active_time">25 分钟前</span>
						</a>

						<div class="topic_title_wrapper">
							@if (t.Top == 999) {
								<span class='put_top'>置顶</span>
							}
							<a class='topic_title' href='/topic/@t.Id' title='@t.Title'>@t.Title</a>
						</div>
					</div>
				}
			</div>
			<div class='pagination' current_page='1'>
				<ul>
					<li class='disabled'><a>«</a></li>
					<li class='disabled'><a>1</a></li>
					<li><a href='/?tab=all&amp;page=2'>2</a></li>
					<li><a href='/?tab=all&amp;page=3'>3</a></li>
					<li><a href='/?tab=all&amp;page=4'>4</a></li>
					<li><a href='/?tab=all&amp;page=5'>5</a></li>
					<li><a>...</a></li>
					<li><a href='/?tab=all&amp;page=467'>»</a></li>
				</ul>
			</div>

		</div>

	</div>
</div>
