@{ 
	var user = Model as UsersInfo;
}

<div class='panel'>
	<div class='header'>
		<span class='col_fade'>@ViewData["_Partial右侧_用户信息_title"]</span>
	</div>
	<div class='inner'>
		<div class='user_card'>
			<div>
				<a class='user_avatar' href="/user/@user.Username">
					<img src="https://avatars.githubusercontent.com/u/16286519?v=3&amp;s=120" title="@user.Username" />
				</a>
				<span class='user_name'><a class='dark' href="/user/@user.Username">@user.Username</a></span>

				<div class='board clearfix'>
					<div class='floor'>
						<span class='big'>积分: @user.Point </span>
					</div>
				</div>
				<div class="space clearfix"></div>
				<span class="signature">
					“
					@(user.Sign ?? "这家伙很懒，什么个性签名都没有留下。")
					”
				</span>
			</div>
		</div>
	</div>
</div>